@media (max-width:900px) {
    html {
        font-size: 55%;
    }

    .home {
        flex-direction: column;
        background: #233036;
    }

    .header__icon {
        left: 90vw;
    }

    .home__content {
        width: 100vw;
        padding: 2.5rem;
        margin: 0rem;
        align-items: center;
    }

    .home__content--title {
        font-size: 6rem;
    }

    .home__content--subtitle {
        font-size: 6rem;
    }

    .home__content--paragraph {
        padding: 2rem 0;

    }

    .home__content--icons {
        text-align: center;
        margin-top: 2rem;
    }

    .home__content--btn {
        text-align: center;
    }

    .home__image {
        margin-bottom: 10rem;
    }

    .home__image svg {
        width: 60vw;
    }
}

@media (max-width:768px) {

    html {
        font-size: 50%;
    }

    .home__image {
        margin-bottom: 5rem;
    }

    .home__image svg {
        width: 50vw;
    }
}

@media (max-width:450px) {
    .home {
        height: 100%;
    }

    .home__content {
        align-items: flex-start;
    }

    .header__icon {
        left: 85vw;
    }

    .home__image svg {
        width: 80vw;
    }
}